body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    
}

main {
    display: flex;
    justify-content: space-around;
    align-content: center;

}
    /* width: 100%; */


.description {
    width: auto;
    height: 600px;

}

img {
    width: auto;
    height: 600px;

}



footer {
    display: flex;
}